async-timeout==4.0.3
blinker==1.8.2
click==8.1.7
debugpy==1.8.5
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
gevent==24.2.1
greenlet==3.0.3
gunicorn==23.0.0
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.22.0
packaging==24.1
PyMySQL==1.1.1
redis==5.0.8
SQLAlchemy==2.0.32
typing_extensions==4.12.2
Werkzeug==3.0.4
zipp==3.20.1
zope.event==5.0
zope.interface==7.0.2
